@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700,900&display=swap');

$smp-grey: #232323;
$smp-grey-lighter: #3b3b3b;
$smp-green: #00B199;
$smp-yellow: #F7B802;
$smp-orange: #F64E02;

body {
  background-color: $smp-grey;
  font-family: 'Noto Sans JP', sans-serif;
}

.header {
  background-color: $smp-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 7em;
}

h1 {
  font-weight: 700;
  text-transform: lowercase;
  color: $smp-grey;
  font-size: 60px;
}

h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color: $smp-grey
}

.slogan {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2:before,
h2:after {
  content: '';
  border-top: 4px solid $smp-yellow;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h2:after {
  margin: 0 0 0 20px;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  margin: 1em;
}

.card {
  grid-row: 1 span;
  grid-column: 1 span;
}

.content {
  padding: 4em 0;
}

.inputs {
  margin: 2em 0;
  label {
    font-weight: 600;
    color: $smp-grey;
    padding: 0 1em
  }
}
.smp-input {
  margin-left: 1em;
}

.buttons {
  display: flex;
  justify-content: center;
}

.add {
  background-color: $smp-grey;
  color: $smp-yellow;
  &:hover {
    background-color: $smp-grey-lighter;
    color: $smp-yellow;
  }
}

.smp-button {
  text-transform: uppercase;
  height: 40px;
  padding: 0 3em;
  border: 0;
  font-weight: 700;
  margin: 0 1em
}

.delete {
  background-color: $smp-orange;
  color: $smp-grey;
  &:hover {
    background-color: $smp-yellow;
    color: $smp-grey;
  }
}

select {
  width: 100px;
  margin-right: 1em;
}

